*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@font-face{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px; 
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

:root{
    --lilas-escuro: #9F52FF;
    --lilas-medio: #B377FF;
    --lilas: #C7ACFF;
    --lilas-claro: #D5CAC4;
    --branco: #FFFFFF;
    --roxo: #9642FF;
    --roxo-escuro: #5C0BC0;
}

/* -------------------BODY------------------- */

body{
    background-color:var(--lilas-medio);
    min-height: 100vh;
}

/* ---------HEADER--------- */

header{
    display: flex;
    flex-direction: column;
    height: 5vh;
    margin: 2%;
}

.div-icons{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.9rem;
    color: var(--branco);
    font-weight: 800;
}

#menu{
    font-size: 40px;
}

/* ---------HEADER--------- */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
}

.sessao-perfil{
    width: 90vw;
    height: 24vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center;
    justify-content: center; */
}

.div-texto{
    display: flex;
    flex-direction: column;
}

.texto-ola{
    font-size: 35px;
    color: var(--roxo-escuro);
}

.texto-pergunta{
    font-size: 18px;
    color: var(--branco);
}

#account-circle{
    font-size: 80px;
    color: var(--branco);
}

.sessao-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.div-card1{
    background-color: var(--roxo-escuro);
    width: 90vw;
    height: 5vh;
    border-radius: 15px;
    padding: 2%;
}

.card-texto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h2{
    color: var(--branco);
    font-size: 25px;
    font-weight: 600;
}

.botao-redirecionamento{
    background-color: transparent;
    border: none;
}

#arrow-forward{
    font-size: 40px;
    color: var(--branco);
}

/* #calendar_div{
    position: relative;
}
#calendar_month{
    color: var(--branco);
    font-size: 50px;
    float: right;
    padding-top: 20%;
    
} */