*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root{
    --lilas-escuro: #9F52FF;
    --lilas-medio: #B377FF;
    --lilas: #C7ACFF;
    --lilas-claro: #D5CAC4;
    --branco: #FFFFFF;
    --roxo: #9642FF;
}

/* -------------------BODY------------------- */

body{
    background: var(--lilas-medio);
    /* background: linear-gradient(180deg, rgba(159,82,255,1) 0%, rgba(179,119,255,1) 39%, rgba(199,172,255,1) 59%, rgba(213,202,196,1) 100%); */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
}

header{
    border-bottom: 1px solid rgba(0,0,0,0.50);
}

.sessao-1{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 25px;
    align-items: center;
    text-align: center;
}

.botao-voltar{
    height: 3vh;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-voltar{
    height: 3vh;
    display: flex;

}

h1{
    padding-left: 30px;
}

main{
    padding: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.50);
}

.user-name{
    padding-bottom: 10px;
}

.user-informations{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3{
    font-size: 28px;
}

.botao-tres-pontos{
    background-color: transparent;
}

#tres-pontos{
    font-size: 28px;
}

h4{
    font-size: 24px;
    padding-bottom: 8px;
    font-weight: 600;
}

p{
    font-size: 23px;
}

footer{
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.respostas{
    display: flex;
    gap: 5px;
}

form{
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}

input{
    height: 6vh;
    width: 68vw;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.50);
}

input::placeholder{
    font-size: 22px;
    color: rgba(0,0,0,0.50);
}

button{
    font-size: 20px;
    background-color: var(--lilas-escuro);
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}

.h3-comentarios{
    padding-bottom: 10px;
}

.comentarios{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comentario{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #D4BFFF;
    border-radius: 10px;
}